<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script src="app.py"></script>
    <title>
        {% block title %}
            Scav Viewer - Prototype
        {% endblock title %}
    </title>
</head>

<body>
    <p>This is a tester website!</p>

    <div class="sidenav">
        <a href="/view-all">View All Scavs</a>
        <a href="/search">Search Tags</a>
    </div>

    <main>
        {% block content required%}
        
        {% endblock content %}
    </main>

</body>

</html>